name: code quality tools

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: go build
        run: go build -v ./...

      - name: go mod tidy -diff
        run: go mod tidy -diff

      - name: go mod verify
        run: go mod verify

      - name: go vet
        run: go vet ./...

      - name: go tool staticcheck
        run: go tool staticcheck ./...

      - name: go test
        run: go test -race -vet=off -cover -coverprofile=coverage -covermode=atomic -v ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage